td {
  border: 1px solid green;
  /* width: 45px;
  height: 45px; */
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* td:active {
  border: 2px solid greenyellow;
} */

.sudoku-row {
  margin: 0;
  padding: 0;
  /* height: 40px; */
}

.game-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 30px;
  font-size: 50px;
  text-align: center;
  text-overflow: ellipsis;
  border: none;
  outline: none;
}

.game-container {
  height: 80vh;
  display: flex;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
