td {
  border: 1px solid green;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  text-shadow: 2px 1px white;
}


.sudoku-row {
  margin: 0;
  padding: 0;
}

.sudoku-container{
  background-color: rgba(255, 255, 255, 0.245);
}

.game-field {
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 30px;
  text-align: center;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: none;
  text-shadow: 2px 1px white;
}

.game-container {
  height: 80vh;
  display: flex;
 
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer{
  font-size: 30px;
  text-shadow: 2px 1px white;
}

.control-container{
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}