.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  /* max-width: 1200px; */
  min-width: 500px;
  align-items: center;
  justify-content: center;
}

